@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/* font-family: 'Space Mono', monospace; */

.container {
    display: flex;
    min-height: 100vh;
    background-color: hsl(172,41%,84%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tip-container {
    display: flex;
    background-color: white;
    height: 20rem;
    width: 40rem;
    margin-top: 3rem;
    border-radius: 1rem;
}

.input-section {
    display: flex;
    flex: 1;
    margin: 1rem;
    flex-direction: column;
    margin-left: 2rem;
}

.bill-amount, .total-person {
    display: flex;
    flex:1;
    flex-direction: column;
}

.bill, .person {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(189,41%,91%);
    border-radius: 0.3rem;
    height: 2.3rem;
}

.bill img, .person img {
    height: 0.8rem;
    display: flex;
    margin-left: 0.8rem;
}

.bill input, .person input, .zeroperson input {
    display: flex;
    height: 2rem;
    border: none;
    background-color: hsl(189,41%,91%);
    text-align: right;
    align-items: flex-end;
    justify-items: flex-end;
    flex: 1;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 2ch;
    margin-right: 0.5rem;
    color: hsl(183,100%,15%);
}

.bill input:focus, .person input:focus, .zeroperson input:focus {
    outline: none;
}

.bill:hover, .bill input:hover {
    cursor: pointer;
}

.bill:hover {
    border: 2px hsl(186,14%,53%) solid;
}

.bill-amount label, .tip-percent label, .total-person label {
    font-family: 'Space Mono', monospace;
    color: hsl(186,14%,43%);
    font-size: 1.2ch;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.tip-percent {
    display: flex;
    flex:2;
    margin-top: 1rem;
    flex-direction: column;
}

.tip {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tip-container1, .tip-container2 {
    display: flex;
    justify-content: space-between;
}

.tip-container1 button, .tip-container2  button {
    border: none;
    padding:0
}

.tip-container1 button:hover, .tip-container2  button:hover {
    cursor: pointer;
}

.tip-container2 {
    margin-top: 0.5rem;
}

.tip-button {
    display: flex;
    flex: 1;
    background-color: hsl(183,100%,15%);
    height: 2.3rem;
    min-width: 5rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
}

.tip-button-text {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: hsl(189,41%,91%);
}

.tip-button-pressed {
    display: flex;
    flex: 1;
    background-color: rgb(28, 218, 243);
    height: 2.3rem;
    width: 5rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
}

.tip-button-text-pressed {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: hsl(183,100%,15%);
}

.custom-tip {
    max-width: 4.5rem;
    min-width: 4.5rem;
    height: 2rem;
    border-radius:0.3rem;
    background-color:hsl(185,41%,84%);
    border: 2px rgb(68, 216, 233) solid;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.8ch;
    color: hsl(183,100%,15%);
}

.custom-tip:focus {
    outline: none;
}

.total-person {
    display: flex;
    flex:1;
}

.person-label {
    display: flex;
    justify-content: space-between;
}

#zeropeople {
    color: red;
}

#hidden {
    display:none
}

.zeroperson {
    border: 2px red solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(189,41%,91%);
    border-radius: 0.3rem;
    height: 2.3rem;
}

.output-section {
    display: flex;
    flex: 1;
    margin: 1rem;
    background-color: hsl(183,100%,15%);
    border-radius: 1rem;
    flex-direction: column;
    padding: 2rem;
}

.amount-heading {
    color: hsl(189,41%,91%);
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1.3ch;
}

.dark-heading {
    color: hsl(186,14%,53%);
    font-family: 'Space Mono', monospace;
    font-size: 1.2ch;
}

.tip-amount {
    display: flex;
    align-items: center;
}

.tip-display {
    display: flex;
    flex: 1;    
    justify-content: flex-end;
    color: hsl(185,41%,84%);
    font-weight: 700;
    font-size: 3ch;
    font-family: 'Space Mono', monospace;
}

.total-amount {
    display: flex;
    flex: 1;
}

.reset-container {
    display: flex;
    /* flex: 1; */
}

.reset-container button {
    border: none;
    display: flex;
    flex: 1;
    height: 2rem;
    justify-content: center;
    align-items: center;
    font-family: 'Space Mono', monospace;
    background-color: hsl(185,41%,84%);
    color: hsl(183,100%,15%);
    font-weight: 700;
}

.reset-container button:hover {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media(max-width: 678px) {    
    .tip-container {
        width: 38rem;
    }
}

@media(max-width:621px) {

    .logocontainer {
        margin-top: 3rem;
    }

    .tip-container {
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 0;
    }

    .input-section {
        margin-left: 1rem;
        justify-content: center;
        align-items: center; 
        flex:1;
    }

    .bill-amount, .tip-percent, .total-person {
        width: 90%;
    }

    .total-person {
        margin-top: 1rem;
    }

    input {
        flex: 1;
    }
}

@media(max-width:375px){
    .custom-tip {
        max-width: 4.6rem;
        min-width: 4.6rem;
    }
}